In [1]:
import re
import string
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('income_household.csv')

In [3]:
df

,neg_nil_inc_non_fam_househlds,hi_1250_1499_tot,all_incomes_ns_famly_househld,hi_1500_1749_fam_households,hi_4000_more_tot,hi_400_499_family_households,hi_400_499_non_fam_househlds,hi_650_799_tot,part_inc_stated_fam_household,hi_800_999_non_fam_hsehlds,...,hi_3000_3499_non_fam_hsehlds,hi_2000_2499_non_fam_hsehlds,tot_tot,sa4_code16,hi_1_149_tot,hi_3000_3499_tot,neg_nil_inc_fam_households,hi_300_399_tot,hi_1750_1999_fam_households,hi_650_799_family_households
0,482,4618,736,2772,1748,1405,4226,5683,3639,1867,...,35,555,59743,201,475,1577,324,2301,2558,3970
1,375,4695,652,2780,1703,1225,3683,5204,3602,1747,...,47,633,57513,202,496,1649,254,2035,2605,3580
2,725,7851,1255,4765,4432,2141,5662,8140,6768,2788,...,98,1252,102631,203,781,3657,536,3224,4896,5617
3,444,5142,901,3057,1554,1511,4141,5924,4417,1932,...,25,548,64101,204,529,1650,327,2389,3022,4154
4,838,7758,1503,4480,2904,2819,7220,10216,6989,2846,...,47,887,103488,205,1021,2426,621,4188,4529,7355
5,8653,15667,1418,6029,26521,2651,8043,10934,11898,7777,...,1697,12005,246911,206,2687,11297,2422,6730,6666,5038
6,2130,7863,1137,4437,17847,1793,4128,6575,9539,2745,...,268,2763,128334,207,1306,5995,1767,2729,4713,4074
7,1798,9237,1453,5083,19665,1773,5829,7704,10398,3736,...,266,3270,149732,208,1213,7460,1113,3433,5611,4466
8,1378,12820,2035,8642,10091,3279,6053,11225,11850,3553,...,166,2169,168667,209,1245,7740,1332,3975,8686,8162
9,881,9210,1692,6246,5804,2829,4419,8464,8605,2267,...,118,1262,118615,210,916,4992,1048,2964,6074,6534
10,1173,13016,2029,8780,10870,2620,7023,11112,12589,3951,...,151,1950,175298,211,1138,8373,1113,3784,9211,7648
11,2553,19403,2791,13632,11641,4913,8541,16716,17462,4895,...,321,2375,243018,212,1873,9795,2517,5559,13536,12611
12,1894,18716,2998,12854,12023,4824,7741,15204,16219,4815,...,334,3025,236425,213,1762,10577,2218,5584,12580,11400
13,857,8193,1457,5240,4859,1901,5949,8265,7507,3032,...,64,1030,107477,214,732,3799,608,3111,5146,5636
14,420,4531,934,2429,1167,1492,4261,5728,3806,1706,...,37,454,56900,215,553,1180,371,2387,2562,4020
15,342,3804,778,2225,1141,1242,2973,4550,3238,1388,...,31,373,47321,216,381,1141,336,1731,2266,3312
16,335,3642,652,2134,1211,1102,3094,4176,2996,1422,...,39,401,46541,217,471,1147,280,1763,2199,2886

In [4]:
list_need = [' hi_1_149_tot',
    ' hi_1000_1249_tot',
    ' hi_2000_2499_tot',
    ' hi_3000_3499_tot',
    ' hi_4000_more_tot',
    ' sa4_name16',' sa4_code16']

In [5]:
for col in df.columns:
    if (col in list_need):
        continue
    else:
        df = df.drop([col], axis = 1)
        #print(col)

In [6]:
df.rename(columns={' sa4_name16':'sa4_name', ' sa4_code16':'sa4_code', ' hi_1_149_tot': '1-149',
    ' hi_1000_1249_tot': '1000-1249',
    ' hi_2000_2499_tot': '2000-2499',
    ' hi_3000_3499_tot': '3000-3499',
    ' hi_4000_more_tot': '4000more'}, inplace = True)
#df.to_csv('income_result.csv', index = False)

In [7]:
df = df[['sa4_code', 'sa4_name','1-149', '1000-1249','2000-2499','3000-3499', '4000more']]
df = df.set_index('sa4_code')

In [8]:
df.to_json('income_output.json', orient='index')

In [9]:
df.to_csv('income_result.csv')