In [1]:
import re
import string
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_au = pd.read_csv('mel_income.csv')

In [3]:
list_need = [' sa2_name',
    ' median_aud',
    ' sa2_code']

In [4]:
def preprocessing(df):
    """
    :desc:  
        This function will keep useful attribute 
    """
    for col in df.columns:
        if (col in list_need):
            continue
        else:
            df = df.drop([col], axis = 1)
            
    df.rename(columns={' sa2_name':'sa2_name', ' median_aud':'median_income', ' sa2_code':'sa2_code'}, inplace = True)

    return df

In [5]:
df_au = preprocessing(df_au)

In [6]:
df_au = df_au.sort_values(by=['median_income'])
df_au

     median_income   sa2_code          sa2_name
102        24967.0  210011227  Essendon Airport
20         28068.0  206041122         Melbourne
155        34939.0  210051242      Broadmeadows
240        35296.0  212051320           Clayton
236        35369.0  212041317        Springvale
..             ...        ...               ...
51         66160.0  206051128       Albert Park
87         66389.0  208011169   Brighton (Vic.)
19         70034.0  206041119    East Melbourne
58         71282.0  206061138            Toorak
41         73296.0  206051130    Port Melbourne

[309 rows x 3 columns]

In [7]:
df_au = df_au.loc[(df_au["sa2_code"] == 206041125) | (df_au["sa2_code"] == 207011153) | (df_au["sa2_code"] == 206041124) | (df_au["sa2_code"] == 207031163) | (df_au["sa2_code"] == 206041117 ) | (df_au["sa2_code"] == 207011147) | (df_au["sa2_code"] == 206041122) | (df_au["sa2_code"] == 212051319) ]

In [10]:
df_au = df_au.drop(["sa2_code"], axis = 1)

In [13]:
df_au = df_au.set_index("sa2_name")

In [14]:
df_au

                     median_income
sa2_name
Melbourne                  28068.0
Carlton                    36819.0
Box Hill                   37979.0
Parkville                  45596.0
Ashwood - Chadstone        47564.0
Balwyn                     49615.0
Kew                        59400.0
South Yarra - West         65330.0

In [15]:
dictonary = df_au.to_dict()
print(dictonary)

{'median_income': {'Melbourne': 28068.0, 'Carlton': 36819.0, 'Box Hill': 37979.0, 'Parkville': 45596.0, 'Ashwood - Chadstone': 47564.0, 'Balwyn': 49615.0, 'Kew': 59400.0, 'South Yarra - West': 65330.0}}