In [1]:
import re
import string
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_au = pd.read_csv('rent_au.csv')

In [3]:
want_dic = {" gcc_name16": "gcc_name",
            " gcc_code16": "gcc_code",
           " median_rent_weekly": "median_rent_weekly",
           " median_mortgage_repay_monthly": "median_mortgage_repay_monthly"}

In [4]:
def preprocessing(df):
    """
    :desc:  
        This function will keep useful attribute 
    """
    for col in df.columns:
        if col not in want_dic.keys():
            df = df.drop([col], axis = 1)
            
    for col in df.columns:
        df.rename(columns={col:want_dic[col]}, inplace = True)
    return df

In [5]:
df_au = preprocessing(df_au)
df_au = df_au.loc[(df_au["gcc_code"] == "1GSYD") | (df_au["gcc_code"] == "2GMEL") | (df_au["gcc_code"] == "3GBRI") | (df_au["gcc_code"] == "4GADE") | (df_au["gcc_code"] == "7GDAR" ) ]

,gcc_code,median_mortgage_repay_monthly,median_rent_weekly,gcc_name
0,1GSYD,2167,440,Greater Sydney
2,2GMEL,1800,350,Greater Melbourne
4,3GBRI,1861,355,Greater Brisbane
6,4GADE,1517,285,Greater Adelaide
12,7GDAR,2200,420,Greater Darwin

In [6]:
df_au = df_au.set_index('gcc_name')
df_au.to_json('rent_output.json', orient='index')

In [7]:
df_au.to_csv('rent_result.csv')