In [1]:
import re
import string
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_21 = pd.read_csv('rent_2021_12.csv')
df_16 = pd.read_csv('rent_2016_12.csv')

In [4]:
def preprocessing(df):
    """
    :desc:  
        This function will keep useful attribute 
    """
    month = str(df[" dateyear"][0])
    for col in df.columns:
        if (("mean" in col) or ('sa42016code' in col) or ('sa42016name' in col) ):
            continue
        else:
            df = df.drop([col], axis = 1)
    df.rename(columns={' for_rent_home_lease_geometricmeanprice':'for_rent_'+ month, ' sa42016code':'sa4_code', ' sa42016name':'sa4_name',
                  ' for_sale_both_auction_private_treaty_geometricmeanprice':'for_sale_'+ month,
                  ' sold_both_auction_private_treaty_geometricmeanprice':'for_sold_' + month,}, inplace = True)
    if (df.shape[0] > 17):
        df.drop(df.tail(17).index,inplace=True)

    
    return df

In [6]:
df_21 = preprocessing(df_21)

,for_rent_2021,sa4_code,sa4_name,for_sale_2021,for_sold_2021
0,366.5217,201,Ballarat,530843.3,552523.4
1,394.8940,202,Bendigo,542164.4,559029.4
2,442.0354,203,Geelong,663374.6,804206.6
3,389.1128,204,Hume,522018.5,499937.5
4,374.0290,205,Latrobe - Gippsland,500735.9,480792.3
5,597.3563,206,Melbourne - Inner,1349954.0,1552353.0
6,588.0215,207,Melbourne - Inner East,1539446.0,1793009.0
7,652.9947,208,Melbourne - Inner South,1409419.0,1649829.0
8,428.4673,209,Melbourne - North East,664947.3,861131.4
9,415.3904,210,Melbourne - North West,627806.8,740880.1
10,470.4461,211,Melbourne - Outer East,868564.8,961645.1
11,440.1349,212,Melbourne - South East,670247.0,791706.6
12,399.5815,213,Melbourne - West,577237.4,687671.6
13,494.9447,214,Mornington Peninsula,936656.6,1023905.0
14,327.8236,215,North West,308362.3,291906.0
15,352.5245,216,Shepparton,405856.4,394344.8
16,380.8013,217,Warrnambool And South West,471620.0,446452.4

In [7]:
df_16 = preprocessing(df_16)

,for_rent_2016,sa4_code,sa4_name,for_sale_2016,for_sold_2016
0,285.9346,201,Ballarat,331621.0,329357.8
1,305.8454,202,Bendigo,364516.3,366386.5
2,347.7179,203,Geelong,437313.9,473401.5
3,298.7796,204,Hume,332972.6,311245.3
4,279.3152,205,Latrobe - Gippsland,315320.8,304190.4
5,576.8033,206,Melbourne - Inner,969058.2,1214110.0
6,552.1478,207,Melbourne - Inner East,1275319.0,1478419.0
7,594.3088,208,Melbourne - Inner South,1011234.0,1248380.0
8,382.0520,209,Melbourne - North East,469568.3,639053.8
9,372.4181,210,Melbourne - North West,441238.7,557071.4
10,408.5021,211,Melbourne - Outer East,618716.8,707836.1
11,393.0141,212,Melbourne - South East,481818.2,611303.3
12,372.3745,213,Melbourne - West,428116.4,514755.9
13,393.0581,214,Mornington Peninsula,576289.9,632512.3
14,260.5857,215,North West,217322.2,236766.6
15,286.9887,216,Shepparton,283495.8,280283.6
16,290.0352,217,Warrnambool And South West,308277.1,304426.4

In [8]:
df_21['for_sale_2016'] = df_16['for_sale_2016']
df_21['for_rent_2016'] = df_16['for_rent_2016']
df_21['for_sold_2016'] = df_16['for_sold_2016']

,for_rent_2021,sa4_code,sa4_name,for_sale_2021,for_sold_2021,for_sale_2016,for_rent_2016,for_sold_2016
0,366.5217,201,Ballarat,530843.3,552523.4,331621.0,285.9346,329357.8
1,394.8940,202,Bendigo,542164.4,559029.4,364516.3,305.8454,366386.5
2,442.0354,203,Geelong,663374.6,804206.6,437313.9,347.7179,473401.5
3,389.1128,204,Hume,522018.5,499937.5,332972.6,298.7796,311245.3
4,374.0290,205,Latrobe - Gippsland,500735.9,480792.3,315320.8,279.3152,304190.4
5,597.3563,206,Melbourne - Inner,1349954.0,1552353.0,969058.2,576.8033,1214110.0
6,588.0215,207,Melbourne - Inner East,1539446.0,1793009.0,1275319.0,552.1478,1478419.0
7,652.9947,208,Melbourne - Inner South,1409419.0,1649829.0,1011234.0,594.3088,1248380.0
8,428.4673,209,Melbourne - North East,664947.3,861131.4,469568.3,382.0520,639053.8
9,415.3904,210,Melbourne - North West,627806.8,740880.1,441238.7,372.4181,557071.4
10,470.4461,211,Melbourne - Outer East,868564.8,961645.1,618716.8,408.5021,707836.1
11,440.1349,212,Melbourne - South East,670247.0,791706.6,481818.2,393.0141,611303.3
12,399.5815,213,Melbourne - West,577237.4,687671.6,428116.4,372.3745,514755.9
13,494.9447,214,Mornington Peninsula,936656.6,1023905.0,576289.9,393.0581,632512.3
14,327.8236,215,North West,308362.3,291906.0,217322.2,260.5857,236766.6
15,352.5245,216,Shepparton,405856.4,394344.8,283495.8,286.9887,280283.6
16,380.8013,217,Warrnambool And South West,471620.0,446452.4,308277.1,290.0352,304426.4

In [9]:
df_21['for_sold_rise'] = df_21['for_sold_2021'] - df_21['for_sold_2016']
df_21['for_sale_rise'] = df_21['for_sale_2021'] - df_21['for_sale_2016']
df_21['for_rent_rise'] = df_21['for_rent_2021'] - df_21['for_rent_2016']

In [ ]:
df = df.set_index('sa4_code')
df.to_json('rent_output.json', orient='index')
df.to_csv('rent_result.csv')